<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="MIU Sectionr system">
    <meta name="author" content="Team7">
    <link rel="icon" href="favicon.ico">
    <!--    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT" crossorigin="anonymous">-->
    <!--    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">-->
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/united/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-bzjLLgZOhgXbSvSc5A9LWWo/mSIYf7U7nFbmYIB2Lgmuiw3vKGJuu+abKoaTx4W6"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main-styles.css}">
    <title>MIU Sectionr</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container" style="margin-top: 2em;">
    <form id="sectionForm" method="POST" th:action="@{'/student/register/' + ${studentId}}"
          th:object="${schedule}">


        <div style="margin-bottom: 1em;">

        </div>
        <fieldset>
            <legend>Course Registration Form</legend>
            <div class="container" style="margin-top: 1em;">
                <div class="row" >
                    <div class="col-md-6">

                        <div class="form-group" th:each="block ,itemStat : ${blocks} ">
                            <label for="section" th:text="${block.blockTittle}" ></label>

                            <select th:field="*{sections[__${itemStat.index}__]}"  name="section" id="section" class="form-control" required="required">
                                <option   value="" >Select a Section</option>
                                <option  th:each="section,itemStat : ${block.sectionList}" th:value="${section.sectionId}" th:text="${section?.course.courseTitle} "></option>

                            </select>
                        </div>

                </div>
                    <div class="col-md-6">
                        <div style="float: right;">
                            <button id="btnReset" type="reset" class="btn btn-outline-info"
                                    style="margin-right: 2em;">Reset</button>
                            <a th:href="@{'/student/register/' + ${studentId}}" class="btn btn-outline-warning"
                               style="margin-right: 2em;">Cancel</a>
                            <button id="btnSubmit" type="submit"
                                    class="btn btn-outline-primary"> Register</button>
                        </div>
                    </div>
            </div>
            </div>
        </fieldset>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- ================================================== -->
<!-- Bootstrap core JavaScript source files -->
<!-- Placed at the end of the document -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>