<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="MIU Scheduler system">
<meta name="author" content="Team7">
<link rel="icon" href="favicon.ico">
<!--    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT" crossorigin="anonymous">-->
<!--    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">-->
<link
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/united/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-bzjLLgZOhgXbSvSc5A9LWWo/mSIYf7U7nFbmYIB2Lgmuiw3vKGJuu+abKoaTx4W6"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/main-styles.css}">
<title>MIU Scheduler</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container" style="margin-top: 2em;">
		<div>
			<span style="font-size: 1.5em">List of Blocks</span> <span
				style="float: right;"> <a
				class="btn btn-outline-primary btn-lg" href="/block/new">Add a
					New Block</a>
			</span>
		</div>
		<p>&nbsp;</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">tittle</th>
					<th scope="col">start_date</th>
					<th scope="col">end_date</th>
		
					<th scope="col">Actions</th>

				</tr>
			</thead>
			<tbody>
				<!-- Alternative non-obstrusive js solution for <tr onclick>:
                    HTML markup: <tr data-href="some-url">
                    JS function using JQuery: $('tr[data-href]').on("click", function() {
                                                document.location = $(this).data('href');
                                            });
                 -->
				<tr class="datarow" th:each="block,iterStat : ${blocks}"
					th:onclick="@{document.location='/block/{blockId}'(blockId=${block.blockId})}">
					<!--                <tr class="datarow" th:each="block,iterStat : ${blocks}" th:onclick="@{document.location='#'}">-->
					<th scope="row" th:text="${iterStat.count}+'.'">#</th>
					<td th:text="${block.blockTittle}"></td>
					<td th:text="${block.start_date}"></td>
					<td th:text="${block.end_date}"></td>


					<td><a th:href="@{'/block/' + ${block.blockId}}">Edit</a>&nbsp;
						<a th:href="@{'/block/delete/' + ${block.blockId}}">Delete</a></td>

				</tr>

				<tr th:if="${size < 1}">

					<td colspan="9" style="">No Blocks Available</td>

				</tr>
			</tbody>
		</table>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

	<!-- ================================================== -->
	<!-- Bootstrap core JavaScript source files -->
	<!-- Placed at the end of the document -->
	<script crossorigin="anonymous"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script crossorigin="anonymous"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script crossorigin="anonymous"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>